@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700')

@import 'utils/variables'
@import 'utils/mixins'

global-reset()
  
body
  -webkit-tap-highlight-color: rgba( 0,0,0,0 )
  -webkit-font-smoothing: antialiased
  background-color: #333
  font-family: 'Oswald', sans-serif
  font-size: 14px
  color: #111
  cursor: crosshair
  overflow: hidden
  
  *
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

li
  list-style: none

a
  text-decoration: none
  color: #FFF

.page
.container
  absolute: top left
  width: 100%
  height: 100%
  overflow: hidden