
/* line 34 : /Users/scott/Desktop/work/node-app/client/styles/app.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/stylus/lib/functions/index.styl */

/* line 286 : /Users/scott/Desktop/work/node-app/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/rupture/rupture/index.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/app.styl */
/**
 * ------------------------
 * Core
 * ------------------------
 */

/* line 260 : /Users/scott/Desktop/work/node-app/node_modules/rupture/rupture/index.styl */

/* line 14 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/border.styl */

/* line 10 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/clearfix.styl */

/* line 28 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/clearfix.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/color-image.styl */

/* line 4 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/flex.styl */

/* line 196 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/gradients.styl */

/* line 90 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/config.styl */

/* line 11 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/config.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/iconic.styl */

/* line 7 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/image.styl */

/* line 25 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/index.styl */

/* line 19 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/index.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/base.styl */

/* line 8 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/base.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 19 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/links.styl */

/* line 6 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/links.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/text.styl */

/* line 30 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/text.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 7 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 17 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 69 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 7 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/overflow.styl */

/* line 20 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/overflow.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/positions.styl */

/* line 66 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/positions.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/reset.styl */

/* line 78 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/aliases.styl */

/* line 12 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 9 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 8 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 9 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 2 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/config.styl */

/* line 577 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/size.styl */

/* line 28 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/jeet/stylus/jeet/index.styl */

/* line 17 : /Users/scott/Desktop/work/node-app/node_modules/jeet/stylus/jeet/index.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 11 : /Users/scott/Desktop/work/node-app/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 64 : /Users/scott/Desktop/work/node-app/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 281 : /Users/scott/Desktop/work/node-app/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/reset.styl */
@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");

/* line 34 : /Users/scott/Desktop/work/node-app/client/styles/reset.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/utils/variables.styl */

/* line 12 : /Users/scott/Desktop/work/node-app/client/styles/utils/variables.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/client/styles/utils/mixins.styl */

/* line 4 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/scott/Desktop/work/node-app/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 8 : /Users/scott/Desktop/work/node-app/client/styles/reset.styl */
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  background-color: #333;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #111;
  cursor: crosshair;
  overflow: hidden;
}

/* line 18 : /Users/scott/Desktop/work/node-app/client/styles/reset.styl */
body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22 : /Users/scott/Desktop/work/node-app/client/styles/reset.styl */
li {
  list-style: none;
}

/* line 25 : /Users/scott/Desktop/work/node-app/client/styles/reset.styl */
a {
  text-decoration: none;
  color: #fff;
}

/* line 29 : /Users/scott/Desktop/work/node-app/client/styles/reset.styl */
.page,
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 10 : /Users/scott/Desktop/work/node-app/client/styles/app.styl */
/**
 * ------------------------
 * Utils
 * ------------------------
 */

/* line 65 : /Users/scott/Desktop/work/node-app/client/styles/utils/mixins.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/utils/rupture.styl */

/* line 13 : /Users/scott/Desktop/work/node-app/client/styles/utils/rupture.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/utils/easing.styl */

/* line 55 : /Users/scott/Desktop/work/node-app/client/styles/utils/easing.styl */

/* line 55 : /Users/scott/Desktop/work/node-app/client/styles/utils/fonts.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/utils/fonts.styl */
body {
  font-size: 16px;
}

/* line 4 : /Users/scott/Desktop/work/node-app/client/styles/utils/fonts.styl */
h1 {
  font-size: 28px;
}

/* line 7 : /Users/scott/Desktop/work/node-app/client/styles/utils/fonts.styl */
h2 {
  font-size: 22px;
}

/* line 65 : /Users/scott/Desktop/work/node-app/client/styles/utils/fonts.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/client/styles/utils/mixins.styl */

/* line 12 : /Users/scott/Desktop/work/node-app/client/styles/utils/mixins.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/utils/variables.styl */

/* line 21 : /Users/scott/Desktop/work/node-app/client/styles/app.styl */
/**
 * ------------------------
 * Common
 * ------------------------
 */

/* line 8 : /Users/scott/Desktop/work/node-app/client/styles/utils/variables.styl */

/* line 8 : /Users/scott/Desktop/work/node-app/client/styles/components/header.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/components/header.styl */

/* line 2 : /Users/scott/Desktop/work/node-app/client/styles/components/header.styl */

/* line 2 : /Users/scott/Desktop/work/node-app/client/styles/components/footer.styl */

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/components/footer.styl */

/* line 29 : /Users/scott/Desktop/work/node-app/client/styles/app.styl */
/**
 * ------------------------
 * Views
 * ------------------------
 */

/* line 2 : /Users/scott/Desktop/work/node-app/client/styles/components/footer.styl */

/* line 541 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */

/* line 11 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 17 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home #scene {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 21 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home .bullet-count {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 14px;
}

/* line 26 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home .health {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 42px;
}

/* line 31 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home .health span {
  display: block;
}

/* line 34 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home .health span:last-child {
  font-size: 14px;
  margin-top: 5px;
}

/* line 38 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home .leaderboard {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 41 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home .leaderboard h1 {
  text-align: right;
  margin-bottom: 10px;
  padding: 0;
  color: #fff;
  font-size: 16px;
}

/* line 48 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home .leaderboard ol {
  list-style-type: decimal;
}

/* line 51 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home .leaderboard ol li {
  list-style-type: decimal;
  color: #fff;
  text-align: right;
  margin-bottom: 5px;
  margin-left: 20px;
}

/* line 58 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 63 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* line 68 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username span {
  display: block;
  line-height: 22px;
}

/* line 72 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username .enter-name {
  margin-bottom: 30px;
  color: #fff;
}

/* line 76 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */

/* line 77 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username .name-criteria span {
  margin-bottom: 10px;
}

/* line 80 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username input {
  display: block;
  margin: 0 auto 40px auto;
  height: 60px;
  width: 100%;
  outline: none;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  border: 2px solid #111;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.6);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.6);
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/* line 97 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username button {
  width: 50%;
  height: 50px;
  border: 2px solid #222;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: -webkit-linear-gradient(top, #333, #111);
  background: -moz-linear-gradient(top, #333, #111);
  background: -o-linear-gradient(top, #333, #111);
  background: -ms-linear-gradient(top, #333, #111);
  background: linear-gradient(to bottom, #333, #111);
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
  letter-spacing: 2px;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -webkit-animation: pulse 3s infinite ease-in-out;
  -moz-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -ms-animation: pulse 3s infinite ease-in-out;
  animation: pulse 3s infinite ease-in-out;
  outline: none;
  cursor: pointer;
}

/* line 113 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username button:active {
  background: -webkit-linear-gradient(bottom, #222, #111);
  background: -moz-linear-gradient(bottom, #222, #111);
  background: -o-linear-gradient(bottom, #222, #111);
  background: -ms-linear-gradient(bottom, #222, #111);
  background: linear-gradient(to top, #222, #111);
}

/* line 116 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
#home form.username button.disabled {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
@-moz-keyframes pulse {

/* line 2 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  0% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
  }

/* line 5 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  50% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.45);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.45);
  }

/* line 8 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  100% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
  }
}

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
@-webkit-keyframes pulse {

/* line 2 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  0% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
  }

/* line 5 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  50% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.45);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.45);
  }

/* line 8 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  100% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
  }
}

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
@-o-keyframes pulse {

/* line 2 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  0% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
  }

/* line 5 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  50% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.45);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.45);
  }

/* line 8 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  100% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
  }
}

/* line 1 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
@keyframes pulse {

/* line 2 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  0% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
  }

/* line 5 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  50% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.45);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.45);
  }

/* line 8 : /Users/scott/Desktop/work/node-app/client/styles/views/home.styl */
  100% {
    -webkit-box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
    box-shadow: 0px 0px 50px 1px rgba(255,69,0,0.25);
  }
}
