extends layout

block content

  #home.page


    #scene

      .leaderboard

        h1 LEADERBOARD

        ol

      .health
        span.number
        span.text HEALTH

      form.username

        .enter-name
          h1 WELCOME!
          span PLEASE CREATE A USERNAME BELOW

        input(type="text" name="text" maxlength="12" autocomplete="off")

        button.save-name.disabled(type="submit") SAVE

